@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");


:root {
  --black: rgb(0, 0, 0);
  --green: rgb(51, 243, 12);
  --backgroundGreen: rgb(139, 255, 116);
  --white: rgb(255, 255, 255);
  --blue: rgb(21, 17, 255);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right,
    #f8991e,
    #fe6c3a,
    #f43c57,
    #d80974,
    #aa088e
  );
}

header {
  letter-spacing: -1px;
  background-color: rgb(0, 0, 0);
  color: var(--green);
  border-radius: 10px;
  padding: 0%;
  box-shadow: 10px 10px var(--green);
}

header,
form {
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;

  border-radius: 5px;
}

form input,
form button {
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  outline: none;
  background: var(--backgroundGreen);
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px var(--black);
}

form button:hover {
  background: var(--blue);
  color: var(--white);
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 40%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: var(--backgroundGreen);
  font-size: 2rem;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  outline: none;
  border-radius: 5px;
}

.main_heading h1 {
  font-family: "Lobster", cursive;
  font-size: 8rem;
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #153dec;
  color: #e0f70c;
  border: none;
  padding: 2rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgb(165, 255, 21);
  color: var(--black);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  border-radius: 5px;
  background-color: var(--backgroundGreen);
}

/* Custom Select */

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  background-color: var(--green);
  outline: none;
  color: #1511ff;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
  border-radius: 5px;
}

/* Arrow */

.select::after {
  content: "\25BC";
  color: var(--green);
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #1511ff;
  cursor: pointer;
  pointer-events: none;
}

/* Transition  */

.select:hover::after {
  background-color: #f7fffe;
  color: #1511ff;
}

/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--black);
  text-align: center;
  padding: 1rem;
  font-family: 'Lobster', cursive;
}

.footer h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--green);
  height: 3.5rem;
}

.social-icon {
  width: 4.5rem;
  margin: 1rem 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px var(--backgroundGreen);
}

.footer-desc {
  color: var(--green);
  font-size: 0.9em;
}