@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
/* removed the translate since it results in bad user expericence */

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes expand {
    from {
        transform: scale(0);
        opacity: 0;
        background: #5470B0;
    }
}

@media screen and (min-width: 40.5em) {
    .product-img {
        width: 50%;
        float: left;
    }
}

:root {
    --black: rgb(0, 0, 0);
    --green: rgb(51, 243, 12);
    --backgroundGreen: rgb(139, 255, 116);
    --white: rgb(255, 255, 255);
    --blue: rgb(21, 17, 255);
}

html {
    height: 100%;
}

.hide {
    display: none;
}


.column {
    width: 100%;
}

.header{
    font-size: large;
    font-weight: 1000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

/* class for dark mode*/
.dark-mode {
    background-color: black;
    color: white;
    filter: invert(1) contrast(0.95) saturate(0.5) hue-rotate(180deg)
   
  }

body {
    background-image: url("https://www.slideteam.net/wp/wp-content/uploads/2016/05/Radial-1-690x518.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* opacity: 50%; */
    /* background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%, rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%, rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%), linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%, rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%, rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%, rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%, rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%, rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%, rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%, rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%); */
}

header {
    letter-spacing: -1px;
    background-color: #0093E9;
    background-image: radial-gradient(circle at top center, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 6%, transparent 6%, transparent 54%, transparent 54%, transparent 93%, rgba(48, 184, 210, 0.15) 93%, rgba(48, 184, 210, 0.15) 100%), radial-gradient(circle at top right, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 2%, transparent 2%, transparent 19%, transparent 19%, transparent 36%, rgba(48, 184, 210, 0.15) 36%, rgba(48, 184, 210, 0.15) 100%), radial-gradient(circle at top right, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 1%, transparent 1%, transparent 2%, transparent 2%, transparent 11%, rgba(48, 184, 210, 0.15) 11%, rgba(48, 184, 210, 0.15) 100%), radial-gradient(circle at center center, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 13%, transparent 13%, transparent 59%, transparent 59%, transparent 67%, rgba(48, 184, 210, 0.15) 67%, rgba(48, 184, 210, 0.15) 100%), linear-gradient(90deg, hsl(38, 64%, 92%), hsl(38, 64%, 92%));
    background-size: 111px 111px;
    /* opacity: 70%; */
    color: #111;
    border-radius: 10px;
    padding: 0%;
    margin-bottom: 5vh;
}

header h1 {
    font-weight: 800;
}

header,
form {
    min-height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-size: 100% ;
    /* margin: 0.5rem; */
    background-repeat: no-repeat;
    border-radius: 5px;
}

form input,
form button,
.delete-all {
    padding: 10px 20px;
    margin: 1rem;
    font-size: 1rem;
    outline: none;
    background-color: white;
    border-radius: 5px;
    border: none;
}

.myBtn {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    border-radius: 5px;
    background-color: #80D0C7;
    cursor: pointer;
    padding: 1rem;
    justify-content: center;
    margin: 2rem auto;
    display: flex;

    width: 11rem;

    @media (min-width: 359px) and (max-width: 741px) {
        margin-left: 11px;
        width: 12rem;

    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        width: 12rem;

    }

    width: 20rem;

    @media (min-width: 359px) and (max-width: 741px) {
        margin-left: 11px;
        width: 12rem;

    }


}

.myBtn:hover {
    background-color: #55acee;
}

.modal-new {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.buttons-wrapper {
    margin: 2rem auto;
}

.button-div {
    display: inline-block;
    vertical-align: middle;
}

.todo-button {
    background: darkcyan;

    @media (min-width: 359px) and (max-width: 741px) {
        height: 50px
    }
}

form button,
.delete-all {
    cursor: pointer;
}

form button:hover {
    background: #5470B0;
    color: var(--white);
}

.delete-all {
    background-color: #D75281;
    color: white;
    width: 200px;
    margin: auto auto 1.5rem;
}

.delete-all:hover {
    background-color: rgb(207, 2, 2);
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 40%;
    list-style: none;
    padding-left: 40px;
    padding-right: 40px;
}

.todo {
    margin: 0.5rem;
    background: #FFF;
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    outline: none;
    border-radius: 5px;
    animation: expand .5s ease-in-out;
}

.main_heading h1 {
    font-size: 8rem;
}

.filter-todo {
    padding: 1rem;

    @media only screen and (min-width: 819px) and (max-device-width: 1024px) {
        width: 15px
    }
}

.filter-todo:hover {
    background-color: #55acee;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: red;
    color: #FFFFFF;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background-color: #55acee;
    color: #FFF;
}

.complete-btn:hover {
    background: rgb(37, 180, 37);
    color: #FFF;
}

.edit-btn {
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.edit-btn:hover {
    background: rgb(38, 36, 36);
    color: white;
}

.trash-btn:hover {
    background: rgb(225, 111, 111);
}

.todo-item {
    padding: 0rem 0.5rem;
    line-break: anywhere;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.todo-list form input,
.todo-list form button {
    background-color: #80D0C7;
    color: #111;
}

.todo-list form input::placeholder {
    color: rgb(83, 82, 82);
}


/*CUSTOM SELECTOR */

select {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    border-radius: 5px;
    background-color: #80D0C7;
    cursor: pointer;
}


/* Custom Select */

.select {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    overflow: hidden;
    background-color: #80D0C7;
    border-radius: 5px;
}

.abc {
    display: flex;
    flex-direction: row;
}

.todoform {
    display: flex;
    flex-direction: row;
}

.footer {
    background-image: radial-gradient(circle at top center, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 6%, transparent 6%, transparent 54%, transparent 54%, transparent 93%, rgba(48, 184, 210, 0.15) 93%, rgba(48, 184, 210, 0.15) 100%), radial-gradient(circle at top right, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 2%, transparent 2%, transparent 19%, transparent 19%, transparent 36%, rgba(48, 184, 210, 0.15) 36%, rgba(48, 184, 210, 0.15) 100%), radial-gradient(circle at top right, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 1%, transparent 1%, transparent 2%, transparent 2%, transparent 11%, rgba(48, 184, 210, 0.15) 11%, rgba(48, 184, 210, 0.15) 100%), radial-gradient(circle at center center, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 13%, transparent 13%, transparent 59%, transparent 59%, transparent 67%, rgba(48, 184, 210, 0.15) 67%, rgba(48, 184, 210, 0.15) 100%), linear-gradient(90deg, hsl(38, 64%, 92%), hsl(38, 64%, 92%));
    background-size: 100% 111px;
    height: 20vh;
    /* background-repeat: no-repeat; */
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    width: 100%;
    background-color: #55acee;
    text-align: center;
}

@media only screen and (max-width: 440px) {
    .abc {
        flex-direction: column;
    }

    .todoform {
        flex-direction: column;
    }
}


/* Arrow */


/* Transition  */

.select:hover::after {
    background-color: #f7fffe;
    color: #1511ff;
}


/* Footer */

.footer h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #111;
}

.social-icon {
    width: 2rem;
    margin: .5rem;
    /* border-radius: 50%; */
    transition: all 0.2s;
}

.social-icon:hover {
    transform: scale(1.2);
}

.footer-desc {
    color: rgba(17, 17, 17, 0.742);
    font-size: 0.8rem;
    margin-top: .5rem;
    font-weight: 600;
}

.modal {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 9;
    /* Sit on top */
    color: white;
    opacity: 1;
    top: 1;
    height: fit-content;
}

.true {
    display: block;
}

.content {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    animation-name: slideIn;
    animation-duration: 0.4s;
    width: fit-content;
    margin: auto;
}

.green {
    background-color: rgb(76, 165, 76);
}

.red {
    background-color: rgb(255, 44, 44);
    border-radius: 0.25em;
}

.blue {
    background-color: rgb(0, 0, 255);
}

.modal-btn {
    background: transparent;
    color: white;
    box-shadow: none;
    border: none;
    padding: 0.02em 0.68em;
    margin: 0 0 0.03em 0.5em;
    border-radius: 0.25em;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.modal-btn:hover {
    opacity: .7;
}

.no-to-do-item {
    text-align: center;
    padding-top: 80px;
    color: #4d4c4c;
}

@keyframes slideIn {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.todayDate {
    display: block;
    text-align: center;
    font-weight: bold;
}

.confirmation_box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 18%);
    animation: slideIn 0.2s;
}

.confirmation_box_inner {
    /* border: 1px solid black; */
    width: 550px;
    height: 250px;
    background: #f7fffe;
    bottom: 280px;
    border-radius: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.optbox_header {
    background-color: #0093E9;
    background: linear-gradient(90deg, rgba(111, 108, 221, 1) 0%, rgba(57, 190, 193, 1) 100%);
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.confirmation_box_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.confirmation_box p {
    position: relative;
    top: 35px;
    font-size: 1.2rem;
    font-weight: 700;
}

.option_box {
    display: flex;
    gap: 100px;
}

.modal-button {
    height: 50px;
    width: 120px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(90deg, rgba(111, 108, 221, 1) 0%, rgba(57, 190, 193, 1) 100%);
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.2s;

}

.modal-button:hover {
    transform: scale(102%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.optbox_header i {
    font-size: 2rem;
    color: #FFF;
    position: relative;
    border: none;
    left: 510px;
    top: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.optbox_header i:hover {
    color: black;
}

@media only screen and (max-width: 440px) {
    .confirmation_box {
        /* border: 1px solid black; */
        width: 300px;
        height: 300px;
        background: #f7fffe;
        position: relative;
        bottom: 280px;
        border-radius: 20px;
    }

    .optbox_header {
        background: linear-gradient(90deg, rgba(111, 108, 221, 1) 0%, rgba(57, 190, 193, 1) 44%, rgba(155, 110, 198, 1) 100%);
        height: 40px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .confirmation_box p {
        position: relative;
        font-size: 1rem;
        text-align: center;
    }

    .proceed {
        background: linear-gradient(90deg, rgba(111, 108, 221, 1) 0%, rgba(57, 190, 193, 1) 44%, rgba(155, 110, 198, 1) 100%);
        height: 60px;
        width: 90px;
        border-radius: 10px;
        position: relative;
        left: 20px;
        box-shadow: 10px 10px 10px rgba(132, 131, 131, 0.537);
        text-align: center;
        line-height: 60px;
        font-size: 2.2rem;
    }

    .donot_proceed {
        background: linear-gradient(90deg, rgba(111, 108, 221, 1) 0%, rgba(57, 190, 193, 1) 44%, rgba(155, 110, 198, 1) 100%);
        height: 60px;
        width: 90px;
        border-radius: 10px;
        position: relative;
        left: 20px;
        box-shadow: 10px 10px 10px rgba(132, 131, 131, 0.537);
        text-align: center;
        line-height: 60px;
        font-size: 2.2rem;
    }

    .option_box {
        display: flex;
        justify-content: space-between;
        width: 250px;
        position: relative;
        left: 0px;
        top: 50px;
    }

    .proceed:hover {
        box-shadow: 10px 10px 10px rgb(132, 131, 131);
        cursor: pointer;
        height: 65px;
        width: 95px;
        font-size: 2.8rem;
    }

    .donot_proceed:hover {
        box-shadow: 10px 10px 10px rgb(132, 131, 131);
        cursor: pointer;
        height: 65px;
        width: 95px;
        font-size: 2.8rem;
    }

    .optbox_header i {
        font-size: 2rem;
        color: #FFF;
        position: relative;
        /* background-color:red; */
        width: 28px;
        height: 26px;
        border: none;
        left: 255px;
        top: 5px;
    }

    .optbox_header i:hover {
        cursor: pointer;
        color: black;
    }
}

@media only screen and (max-width: 731px) {
    .footer {
        /* background-image: linear-gradient(135deg, #0093E9 0%, #80D0C7 100%); */
        height: 20vh;
        display: grid;
        justify-content: space-around;
        align-items: center;
        margin-top: auto;
        width: 100%;
        background-color: #55acee;
        text-align: center;
    }
}

/* Style for fa-heart */
.fa-heart-custom {
    color: #e74c3c;
    animation: 1.5s ease 0s infinite hear-beat;
}

@keyframes hear-beat {

    0%,
    50%,
    100% {
        transform: scale(1, 1);
    }

    30%,
    80% {
        transform: scale(0.90, 0.93);
    }

}

@keyframes vibrate-1 {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }

.myBtn:hover{
    animation: vibrate-1 0.3s linear infinite both;
}

.select:hover{
    animation: vibrate-1 0.3s linear infinite both;
}


input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
    width: 59px;
    height: 26px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
    top: 0px;
    left: 0px;
    width: 28px;
    height: 27px;
	background: #fff;
	border-radius: 90px;
	transition: 0.2s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 10px;
}