@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');
/* removed the translate since it results in bad user expericence */

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes expand {
    from {
        transform: scale(0);
        opacity: 0;
        background: #5470B0;
    }
}

@media screen and (min-width: 40.5em) {
    .product-img {
        width: 50%;
        float: left;
    }
}

:root {
    --black: rgb(0, 0, 0);
    --green: rgb(51, 243, 12);
    --backgroundGreen: rgb(139, 255, 116);
    --white: rgb(255, 255, 255);
    --blue: rgb(21, 17, 255);
}

html {
    height: 100%;
}

.hide {
    display: none;
}


.column {
    width: 100%;
}

.header h1{
    font-size: 60px;
    font-weight: 1000;
    font-family: 'Source Serif Pro', serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

/* class for dark mode*/
.dark-mode {
    color: white;
    background: #757575;
    filter: invert(1) saturate(0.8) contrast(0.5) hue-rotate(180deg)
   
  }

body {
    background-image: url("https://www.slideteam.net/wp/wp-content/uploads/2016/05/Radial-1-690x518.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* opacity: 50%; */
    /* background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%, rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%, rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%), linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%, rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%, rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%, rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%, rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%, rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%, rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%, rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%); */
}

header {
    letter-spacing: -1px;
    background-color: #0093E9;
    background-image: radial-gradient(circle at top center, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 6%, transparent 6%, transparent 54%, transparent 54%, transparent 93%, rgba(48, 184, 210, 0.15) 93%, rgba(48, 184, 210, 0.15) 100%), radial-gradient(circle at top right, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 2%, transparent 2%, transparent 19%, transparent 19%, transparent 36%, rgba(48, 184, 210, 0.15) 36%, rgba(48, 184, 210, 0.15) 100%), radial-gradient(circle at top right, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 1%, transparent 1%, transparent 2%, transparent 2%, transparent 11%, rgba(48, 184, 210, 0.15) 11%, rgba(48, 184, 210, 0.15) 100%), radial-gradient(circle at center center, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 13%, transparent 13%, transparent 59%, transparent 59%, transparent 67%, rgba(48, 184, 210, 0.15) 67%, rgba(48, 184, 210, 0.15) 100%), linear-gradient(90deg, hsl(38, 64%, 92%), hsl(38, 64%, 92%));
    background-size: 111px 111px;
    /* opacity: 70%; */
    color: #111;
    border-radius: 10px;
    padding: 0%;
    margin-bottom: 5vh;
}

header h1 {
    font-weight: 800;
}

header,
form {
    min-height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-size: 100% ;
    /* margin: 0.5rem; */
    background-repeat: no-repeat;
    border-radius: 5px;
}

form input,
form button,
.delete-all {
    padding: 10px 20px;
    margin: 1rem;
    font-size: 1rem;
    outline: none;
    background-color: white;
    border-radius: 5px;
    border: none;
}

.myBtn {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    border-radius: 5px;
    background-color: #80D0C7;
    cursor: pointer;
    padding: 1rem;
    justify-content: center;
    margin: 2rem auto;
    display: flex;

    width: 11rem;

    @media (min-width: 359px) and (max-width: 741px) {
        margin-left: 11px;
        width: 12rem;

    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        width: 12rem;

    }

    width: 20rem;

    @media (min-width: 359px) and (max-width: 741px) {
        margin-left: 11px;
        width: 12rem;

    }


}

.myBtn:hover {
    background-color: #55acee;
}

.modal-new {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    top: 200px;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.buttons-wrapper {
    margin: 2rem auto;
}

.button-div {
    display: inline-block;
    vertical-align: middle;
}

.todo-button {
    background: darkcyan;

    @media (min-width: 359px) and (max-width: 741px) {
        height: 50px
    }
}

form button,
.delete-all {
    cursor: pointer;
}

form button:hover {
    background: #5470B0;
    color: var(--white);
}

.delete-all {
    background-color: #D75281;
    color: white;
    width: 200px;
    margin: auto auto 1.5rem;
}

.delete-all:hover {
    background-color: rgb(207, 2, 2);
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 40%;
    list-style: none;
    padding-left: 40px;
    padding-right: 40px;
}

.todo {
    margin: 0.5rem;
    background: #FFF;
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    outline: none;
    border-radius: 5px;
    animation: expand .5s ease-in-out;
}

.main_heading h1 {
    font-size: 8rem;
}

.filter-todo {
    padding: 1rem;

    @media only screen and (min-width: 819px) and (max-device-width: 1024px) {
        width: 15px
    }
}

.filter-todo:hover {
    background-color: #55acee;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: red;
    color: #FFFFFF;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background-color: #55acee;
    color: #FFF;
}

.complete-btn:hover {
    background: rgb(37, 180, 37);
    color: #FFF;
}

.edit-btn {
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.edit-btn:hover {
    background: rgb(38, 36, 36);
    color: white;
}

.trash-btn:hover {
    background: rgb(225, 111, 111);
}

.todo-item {
    padding: 0rem 0.5rem;
    line-break: anywhere;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.todo-list form input,
.todo-list form button {
    background-color: #80D0C7;
    color: #111;
}

.todo-list form input::placeholder {
    color: rgb(83, 82, 82);
}


/*CUSTOM SELECTOR */

select {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    border-radius: 5px;
    background-color: #80D0C7;
    cursor: pointer;
}


/* Custom Select */

.select {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    overflow: hidden;
    background-color: #80D0C7;
    border-radius: 5px;
}

.abc {
    display: flex;
    flex-direction: row;
}

.todoform {
    display: flex;
    flex-direction: row;
}

.footer {
    background-image: radial-gradient(circle at top center, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 6%, transparent 6%, transparent 54%, transparent 54%, transparent 93%, rgba(48, 184, 210, 0.15) 93%, rgba(48, 184, 210, 0.15) 100%), radial-gradient(circle at top right, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 2%, transparent 2%, transparent 19%, transparent 19%, transparent 36%, rgba(48, 184, 210, 0.15) 36%, rgba(48, 184, 210, 0.15) 100%), radial-gradient(circle at top right, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 1%, transparent 1%, transparent 2%, transparent 2%, transparent 11%, rgba(48, 184, 210, 0.15) 11%, rgba(48, 184, 210, 0.15) 100%), radial-gradient(circle at center center, rgba(17, 201, 137, 0.15) 0%, rgba(17, 201, 137, 0.15) 13%, transparent 13%, transparent 59%, transparent 59%, transparent 67%, rgba(48, 184, 210, 0.15) 67%, rgba(48, 184, 210, 0.15) 100%), linear-gradient(90deg, hsl(38, 64%, 92%), hsl(38, 64%, 92%));
    background-size: 100% 111px;
    height: 20vh;
    /* background-repeat: no-repeat; */
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    width: 100%;
    background-color: #55acee;
    text-align: center;
}

@media only screen and (max-width: 440px) {
    .abc {
        flex-direction: column;
    }

    .todoform {
        flex-direction: column;
    }
}


/* Arrow */


/* Transition  */

.select:hover::after {
    background-color: #f7fffe;
    color: #1511ff;
}


/* Footer */

.footer h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #111;
}

.social-icon {
    width: 2rem;
    margin: .5rem;
    /* border-radius: 50%; */
    transition: all 0.2s;
}

.social-icon:hover {
    transform: scale(1.2);
}

.footer-desc {
    color: rgba(17, 17, 17, 0.742);
    font-size: 0.8rem;
    margin-top: .5rem;
    font-weight: 600;
}

.modal {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 9;
    /* Sit on top */
    color: white;
    opacity: 1;
    top: 1;
    height: fit-content;
}

.true {
    display: block;
}

.content {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    animation-name: slideIn;
    animation-duration: 0.4s;
    width: fit-content;
    margin: auto;
}

.green {
    background-color: rgb(76, 165, 76);
}

.red {
    background-color: rgb(255, 44, 44);
    border-radius: 0.25em;
}

.blue {
    background-color: rgb(0, 0, 255);
}

.modal-btn {
    background: transparent;
    color: white;
    box-shadow: none;
    border: none;
    padding: 0.02em 0.68em;
    margin: 0 0 0.03em 0.5em;
    border-radius: 0.25em;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.modal-btn:hover {
    opacity: .7;
}

.no-to-do-item {
    text-align: center;
    padding-top: 80px;
    color: #4d4c4c;
}

@keyframes slideIn {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

  /* Clock style modification  */

  body{
    background-color: rgb(247, 247, 249);
    min-height: 100vh;
    width: 100vw;
    display: grid;
}
.Clock{
    display: flex;
    border: 2px solid black;
    background-color: rgb(126, 231, 243);
    height: 150px;
    width: 300px;
    margin: auto;
    justify-content: center;
    border-radius: 20px;
        box-shadow: inset 10px 10px 10px rgb(42, 34, 34),
            inset -10px -10px 10px rgb(42, 34, 34);
    transition: transform .4s linear;
}
.Clock:hover{
    transform: rotate(360deg);
    background: rgb(238, 247, 248);
    cursor: pointer;
}

#time{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(104, 225, 189, 0.998);
    height: 80px;
    box-shadow: inset -2px -2px 15px rgb(189, 175, 148),
    inset 2px 2px 15px rgb(172, 150, 107);
    width:250px;
    padding: 2vh;
    font-size: 30px;
    text-shadow: 2px -2px 2px  rgb(125, 118, 118);
    font-weight: bolder;
    color: rgb(27, 32, 30);
    margin: auto;
    color: transparent;
    -webkit-text-fill-color: rgb(50, 49, 48);
    -webkit-text-stroke-color: rgb(5, 16, 21);
    transition: transform .4s linear;
}

.Clock:hover #time{
    background-color: rgb(247, 236, 218);
    -webkit-text-fill-color: rgb(162, 156, 163);
    text-shadow: 2px -2px 2px  black;
    cursor: pointer;
    font-weight: bolder;
    transform: rotate(-720deg);
}

.week{
    display: flex;
    position: absolute;
    color: rgb(27, 32, 30);
    font-size: 20px;
    text-shadow: 1px 1px 10px  rgb(224, 19, 19);
    margin-top:80px;
}

.Clock:hover .week{
    text-shadow: 1px 1px 10px  black;
    font-size: 20px;
}
   /* ################################### */

.confirmation_box, .congratulations_box{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 18%);
    animation: slideIn 0.2s;
}

.confirmation_box_inner , .congratulations_box_inner{
    width: 550px;
    height: 250px;
    background: #f7fffe;
    bottom: 280px;
    border-radius: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
/* congrats_text is the paragraph element of congratulations_box  */
#congrats_text{
    font-size: 2rem;
    text-transform: capitalize;
}
.optbox_header {
    background-color: #0093E9;
    background: linear-gradient(90deg, rgba(111, 108, 221, 1) 0%, rgba(57, 190, 193, 1) 100%);
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.confirmation_box p {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 3;
    text-align: center;
}

.option_box {
    display: flex;

    gap: 50px;
    justify-content: center;
}

.proceed, .donot_proceed{
    cursor: pointer;
}

.proceed{
    color: green;
}

.donot_proceed{
    color: red;
}

.proceed:hover, .donot_proceed:hover{
    text-decoration:underline;
}

.modal-button {
    height: 50px;
    width: 120px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(90deg, rgba(111, 108, 221, 1) 0%, rgba(57, 190, 193, 1) 100%);
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.2s;
}

.modal-button:hover {
    transform: scale(102%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.optbox_header i {
    font-size: 2rem;
    color: #FFF;
    position: relative;
    border: none;
    left: 510px;
    top: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.optbox_header i:hover {
    color: black;
}

@media only screen and (max-width: 440px) {
    .confirmation_box {
        /* border: 1px solid black; */
        width: 300px;
        height: 300px;
        background: #f7fffe;
        position: relative;
        bottom: 280px;
        border-radius: 20px;
    }

    .optbox_header {
        background: linear-gradient(90deg, rgba(111, 108, 221, 1) 0%, rgba(57, 190, 193, 1) 44%, rgba(155, 110, 198, 1) 100%);
        height: 40px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .confirmation_box p {
        position: relative;
        font-size: 1rem;
        text-align: center;
    }

    .donot_proceed {
        background: linear-gradient(90deg, rgba(111, 108, 221, 1) 0%, rgba(57, 190, 193, 1) 44%, rgba(155, 110, 198, 1) 100%);
        border-radius: 10px;
        position: relative;
        left: 20px;
        text-align: center;
        font-size: 2.2rem;
    }

    .option_box {
        display: flex;
        justify-content: center;
        gap: 50px;
        width: 250px;
        position: relative;
        left: 0px;
        top: 50px;
    }

    /* .proceed:hover {
        box-shadow: 10px 10px 10px rgb(132, 131, 131);
        cursor: pointer;
        height: 65px;
        width: 95px;
        font-size: 2.8rem;
    }

    .donot_proceed:hover {
        box-shadow: 10px 10px 10px rgb(132, 131, 131);
        cursor: pointer;
        height: 65px;
        width: 95px;
        font-size: 2.8rem;
    } */

    .optbox_header i {
        font-size: 2rem;
        color: #FFF;
        position: relative;
        /* background-color:red; */
        width: 28px;
        height: 26px;
        border: none;
        left: 255px;
        top: 5px;
    }

    .optbox_header i:hover {
        cursor: pointer;
        color: black;
    }
}

@media only screen and (max-width: 731px) {
    .footer {
        /* background-image: linear-gradient(135deg, #0093E9 0%, #80D0C7 100%); */
        height: 20vh;
        display: grid;
        justify-content: space-around;
        align-items: center;
        margin-top: auto;
        width: 100%;
        background-color: #55acee;
        text-align: center;
    }
}

/* Style for fa-heart */
.fa-heart-custom {
    color: #e74c3c;
    animation: 1.5s ease 0s infinite hear-beat;
}

@keyframes hear-beat {

    0%,
    50%,
    100% {
        transform: scale(1, 1);
    }

    30%,
    80% {
        transform: scale(0.90, 0.93);
    }

}

@keyframes vibrate-1 {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }

.myBtn:hover{
    animation: vibrate-1 0.3s linear infinite both;
}

.select:hover{
    animation: vibrate-1 0.3s linear infinite both;
}


.checkbox {
    opacity: 0;
    position: absolute;
    right: 20px;
    top:50px;
    z-index: 10;
    height: 2rem;
    width: 4rem;
    cursor: pointer;
  
  }
  
  .label {
    width: 54px;
    height: 29px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: absolute;
    right: 20px;
    top:50px;
    transform: scale(1);
  }
  
  .ball {
    width: 24px;
    height: 24px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2.5px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: pink;
  }